@import "vars-mixins";
.grid-content {
	outline: 1px dashed magenta;
}
header, footer {
	outline: 1px dashed magenta;
	& nav {
		outline: 1px dashed #ccc;
	}
}
body:before {
	position: fixed;
	top: 50px;
	right: 10px;
	font-size: 20px;
	z-index: 9990;
	@include content-width;
}

body:before {
	content: "XS before 500px";
	color: cyan;
}
@include breakUpTo("XXSonly") {
	body:before {
		content: "xxs-only - max-width: 400px";
		color: orange;
	}
}

@include breakOn("SM") {
	body:before {
		content: "SM - min-width: 576px";
		color: fuchsia;
	}
}
@include breakOn("MD") {
	body:before {
		content: "MD - min-width: 750px";
		color: blue;
	}

}
@include breakOn("LG") {
	body:before {
		content: "LG - min-width: 992px";
		color: lime;
	}

}
@include breakOn("XL") {
	body:before {
		content: "XL - min-width: 1200px";
		color: red;
	}

}
@include breakOn("XXL") {
	body:before {
		content: "XXL - min-width: 2200px";
		color: magenta;
	}

}
