@import "vars-mixins";

.page404 {
	background: navy;
}
.bsod-wrap {
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	align-items: center;
	align-content: center;
}
.bsod-txt {
	text-align: center;
	color: $white;
	font: bold 17px/1.3 'Courier New', Courier, monospace;
	flex: 0 0 80%;
	max-width: 600px;
	margin: 0 auto;
}
.bsod-txt h1 {
	display: inline-block;
	padding: 0 7px;
	margin-bottom: 5px;
	font-size: 19px;
	color: navy;
	background: $almost-white;
}
.bsod-txt p {
	text-align: left;
	margin: 0 0 15px;
}
.bsod-txt p:last-child {
	margin-top: 30px;
	text-align: center;
}
.bsod-link {
	color: $white;
	border-bottom: 1px solid $white-transparent;
	cursor: pointer;
	&:hover {
		border-bottom: 1px solid transparent;
	}
}