{
	"presets": [
		[
			"next/babel",
			{
				// "styled-jsx": {
					//"plugins": [
					//"styled-jsx-plugin-sass"
					//]
			//},
				// "class-properties": {},

					"polyfill-es-shims": {
					"method": "usage-global",
					"targets": {
						"ie": 10,
						"firefox": 65
					}
				}
			}
		]
	],
	"plugins": [
		// "@babel/plugin-proposal-do-expressions",
		// ["polyfill-es-shims", {
		// 	"method": "usage-global",
		// 	"targets": {
		// 		"ie": 10,
		// 		"firefox": 65
		// 	}
		// }]
	]
}
