{
	"presets": [
		[
			"next/babel",
			{
				// "styled-jsx": {
					//"plugins": [
					//"styled-jsx-plugin-sass"
					//]
			//},
				// "class-properties": {},

					"polyfill-es-shims": {
					"method": "usage-global",
					"targets": {
						"ie": 9,
						"firefox": 65
					}
				}
			}
		]
	],
	"plugins": [
		//make readable classes
		["babel-plugin-styled-components",
			{
				"fileName": false,
				"ssr": true,
				// "preprocess": false,//??
				// "minify": false,
				// "transpileTemplateLiterals": false,

			}
		]

		// "@babel/plugin-proposal-do-expressions",

	]
}
