{
	"presets": [
		[
			"next/babel",
			{
				"polyfill-es-shims": {
				"method": "usage-global",
				"targets": {
					"ie": 9,
					"firefox": 65
				}
				}
			}
		]
	],
	"plugins": [
		//make readable classes
		["babel-plugin-styled-components",
			{
				"displayName": true,
				"fileName": false,
				"ssr": true,
				"transpileTemplateLiterals": true,
				"preprocess": false,//experimental feature turned off explicitly
			}
		]
	]
}
