/* + inline anti-fouc in _document.js */
/* html {background: #372647}
body #__next div {visibility: hidden}
body.loaded #__next div {visibility: visible} */


.CssPreloader {
	background: #3e5b7c;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	visibility: visible;
	transition: all .4s ease-out .2s;
	z-index: 99999;
}
body.loaded .CssPreloader {
		visibility: hidden;
		opacity: 0;
		z-index: -1;
}
.CssPreloader .spinner {
	display: block;
	width: 100px;
	height: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -40px;
	margin-left: -40px;
}
.CssPreloader .circle-1,
.CssPreloader .circle-2 {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	border-radius: 50%;
	top: 0;
	left: 0;
	animation: bounce 1.5s infinite ease-in-out;
}
.CssPreloader .circle-1 {
	background-color: #4396d7;
	opacity: .6;
}
.CssPreloader .circle-2 {
	animation-delay: -0.8s;
	background-color: #8115b3;
	opacity: .5;
}


@keyframes bounce {
	0%, 100% {
		transform: scale(0.0);
	}
	50% {
		transform: scale(1.0);
	}
}